.navbar {
    background-color: #87ceeb;
    padding: 1rem;
    color: #000;
    font-size: 0.8rem;
    text-align: center;
    width: 100%;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.705);
    box-sizing: border-box;
    margin: 0 auto;
  }
  