<div class="event-card">
  <div class="event-card__header">
    <div class="event-card__title">{{ event.title }}</div>
    <div class="event-card__subtitle">{{ event.subtitle }}</div>
  </div>
  <img [src]="event.image" alt="Event image" class="event-card__image" />
  <div class="event-card__details">
    <div class="event-card__date">
      {{ event.startDate | date : "dd/MM/yyyy" }} -
      {{ event.endDate | date : "dd/MM/yyyy" }}
    </div>
    @if (event.description) {
    <div class="event-card__description" [innerHTML]="event.description"></div>
    }
  </div>
  <button class="event-card__button" (click)="goToSessionPage()">
    Comprar
  </button>
</div>
